/*------------------------------------*\
    RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart...
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
strong,b,mark{
	font-weight:bold;
	font-style:inherit;
}
em,i,cite,q,address,dfn,var{
	font-style:italic;
	font-weight:inherit;
}
abbr[title],dfn[title]{
	cursor:help;
	border-bottom:1px dotted;
}
ins{
	border-bottom:1px solid;
}
a,u,ins{
	text-decoration:none;
}
del,s{
	text-decoration:line-through;
}
pre,code,samp,kbd{
	font-family:monospace;
}
small{
	font-size:0.75em;
}
img{
	border:none;
	font-style:italic;
}
input,
select,
textarea{
	font:inherit;
}




/* ##################### *\
   ###### !START! ######
\* ##################### */

/* ########################## *\
   ###### !typography! ######
\* ########################## */

.small{
	font-size: .8em;
}

.regular{
	font-size: 1em;
}

.big{
	font-size: 1.2em;
	font-weight: bold;
}

.green {
	color: #288c81;
}

p {
	margin-top: 10px;
	font-family: serif;
	font-size: 1.2em;
}


/* ############################ *\
   ###### !All the rest! ######
\* ############################ */

body{
	font-family: 'Exo 2', sans-serif;
	/*font: normal 14px/18px 'myriad-pro', 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

a, a:visited {
	color: #fff;
}


/* !header */

.header {
	background: #95e377; /* Old browsers */
	background: -moz-linear-gradient(top,  #95e377 0%, #dbf398 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95e377), color-stop(100%,#dbf398)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #95e377 0%,#dbf398 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #95e377 0%,#dbf398 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #95e377 0%,#dbf398 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #95e377 0%,#dbf398 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e377', endColorstr='#dbf398',GradientType=0 ); /* IE6-9 */

	height: 400px;
	width: 100%;
	color: #fff;
}


.logo {
	padding-top: 50px;
}

.menu {
	list-style: none;
	float: right;
}

.menu li{
	float: left;
	padding: 50px 20px;	
	font-weight: bold;
}

.menu a{
	color: #288c81; 
}

.menu a:hover {
	color: #fff;
}

#drop_area {
	font-weight: bold;
	font-size: 1.5em;
	height: 150px;
	margin-top: 50px;
	border: dashed 4px #288c81;
	border-radius: 20px;
	text-align: center;
	line-height: 150px;
}

#drop_area:drop {
	background-color: #fff;
}

#drop_area span{
	display: inline-block;
	vertical-align: middle;
	line-height: 1.3em;
}


/* !main page */


.container_12{
	margin-bottom: 30px;
}

h1, h2 {
	color: #288c81;
}

h1 {
	width: 100%;
	border-bottom: 2px solid #288c81;
	line-height: 2em;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px;
}

h1.primo {
	margin-top: 0px;
}

h2 {
	font-weight: normal;
	font-size: 1.2em;
	margin-top: 15px;
}

.radioTabs{
	margin: 15px 0;
}

input[type=radio]{
	display:none;
	/*margin:10px;*/
}

div label:last-of-type {
	border-radius: 0 8px 8px 0;
}

div label:first-of-type {
	border-radius: 8px 0 0 8px;
}

input[type=radio] + label{
	text-align: center;
	display: inline-block;
	margin:-2px;
	padding: 8px 12px;
	background-color: #E7E7E7;
	color: #666;
}

input[type=radio]:checked + label{ 
	background-image: none;
	background-color:#288c81;
	color: #fff;
}

/*.button {
	display: block;
	margin-left: auto;
	margin-right: auto;

	width: 200px;
	padding: 20px;
	background-color: #288c81;
	text-align: center;
	border-radius: 20px;
	color: #fff;
	font-size: 2em;
}*/


.button {
	cursor: pointer;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

    background-color:#288c81;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 20px;
    background-image: linear-gradient(bottom, rgb(62,51,46) 0%, rgb(101,86,78) 100%);
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #073732, 0px 5px 0px 0px #0e5951, 0px 10px 5px #999;
}
 
.button:active {
    top:3px;
    background-image: linear-gradient(bottom, rgb(62,51,46) 100%, rgb(101,86,78) 0%);
    box-shadow: inset 0px 1px 0px #073732, 0px 2px 0px 0px #322620, 0px 5px 3px #999;
}